<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href={{ url_for( 'static', filename='styles.css' ) }} />
    <title>Spotify Discovery</title>
</head>

<body>
    <div class="container">
        <h1 class="info">{{song_name}}</h1>

        <h2 class="info">
           By: {{artist_names}}
        </h2>

        <h3 class="info"><a class="new_link" href={{spotify_url}} target="_blank">Play me on Spotify!</a></h3>

        <div class="info">
            <img src={{album_cover}} width="300px"></img>
        </div>

        <br><br>
        
        <div class="info">
            {% if preview_url != None %}
                <audio controls>
                    <source src={{preview_url}} type="audio/mpeg">
                </audio>
            {%else %}
                <h3>No preview available.</h3>
            {% endif %}
        </div>

    </div>
</body>
</html>