<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href={{ url_for( 'static', filename='styles.css' ) }} />
    <title>Spotify Discovery</title>
</head>

<body>
    <div>
        <h2>{{song_name}}</h2>

        <h2>{{artist_names}}</h2>

        <img src={{album_cover}} width="300px"></img>

        <div>
            {% if preview_url != None %}
                <audio controls>
                    <source src={{preview_url}} type="audio/mpeg">
                </audio>
            {%else %}
                <h3>No preview available.</h3>
            {% endif %}
        </div>
        
        <a href={{spotify_url}} target="_blank"><h2>Play me on Spotify!</h2></a>
    </div>
</body>
</html>